
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  font-family: 'Lato', 'Roboto', 'Source Sans Pro', sans-serif;
  }
  
  .home-title, .msg h2 {
    font-family: 'Lato', 'Roboto', 'Source Sans Pro', sans-serif;
  }
 

<body>
  <div id="content">
     max-width = 1600 px;
     #content {margin: 0 auto;
    background-color: lightblue;}
    .button-box {text-align: center;}
    main section {text-align: center;}
    #hero-msg h1,
    #hero-msg h4 {
    text-align: center;}
    body{
      font-family: 'Lato', 'Roboto', 'Source Sans Pro', sans-serif;
      }
      
      .home-title, .msg h2 {
        font-family: 'Lato', 'Roboto', 'Source Sans Pro', sans-serif;
      }
    
      [class="hero"][png] {
        display: block;
        margin: 0 auto;
        max-width: 1600px;
        height: auto;
      }
    <header>
    <div>
    nav a{text-align: center;}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}
    .button-box {text-align: center;}
    main section {text-align: center;}
    <section class="rapids-card">
    <img class="card-img" src="images/rapids.jpg" alt="rafting boat">
    <img class="icon" src="images/oars.png" alt="oars icon">
    <h2>Rapids</h2>
</section>
<div id="background"></div> 
<div> #background {
  height: 725px;
  background-color: rgba(21, 190, 212, 0.7);}
  
 <div>
<img class="mountains" src="images/mountains.jpg" alt="Misty mountains">
<section class="msg">
    <h2>More Than Just The Thrill</h2>
    <p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors. </p>
    <a class='join' href="rivers.html">Join Us</a>
</section>
</body>

body {
    background-color: #fcfbfb; 
}
header {
    background-color: #6f7364;
}
nav a:hover {
    background-color: white;
}
.book, .join {
    background-color: #be1111;
}
.book:hover, .join:hover {
    background-color: #e70d0d;
}
#background {
    background-color: #f7f7f7;
}
.msg {
    background-color: #ffcc00;
}
footer {
    background-color: #d31010;
    color: #fff;
}
nav a:hover {
    background-color: white;
  }
  
  .home-title {
    background-color: white;
  }
  
  h4 {
    background-color: white;
  }
  
  .book, .join {
    background-color: #333;
  }
  
  .book:hover, .join:hover {
    background-color: #555;
  }
  
  .msg h2 {
    background-color: #eee;
  }
  
  .msg p {
    background-color: #6f7364;
  }
  
  footer {
    background-color: #222;
    color: #6f7364;
  }
  
  footer a {
    color: #6e6767;
  }
  
  footer a:hover {
    color: #be9c14;
  }
  .logo, .icon {
    width: 80px;
  }
  nav a,
  .book, .join,
  footer a {
  text-decoration: none;
  }
  footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
.home-title {
  font-family: 'Lato', sans-serif, 'Source Sans Pro', 'Roboto';
  font-size: 2em; 
}

.book, .join {
  font-size: 18px; 
}

.msg p {
  font-size: 0.8em; 
}

.msg {
  background-color: #6f7364;
  line-height: 1.5em; 
}
body {
  background-color: #fcfbfb;
  font-family: 'Lato', sans-serif, 'Source Sans Pro', 'Roboto';
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}
#logo_link {
  padding-top: 5px;
}

nav a {
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}

.book, .join {
  padding: 15px 30px;
}

.icon {
  padding-top: 10px;
}

.msg {
  padding: 35px;
}

.msg p {
  padding-bottom: 15px;
}

footer {
  padding: 25px 50px;
}

footer .social img {
  padding-top: 15px;
}
.home-title {
  margin-top: 10px;
}

.book, .join {
  background-color: #d9c2a3;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

footer {
  margin-top: 200px;
}

.book, .join {
  background-color: #d9c2a3;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.card-img {
  border: 10px solid #d9c2a3;
}

main section img {
  box-sizing: border-box;
}